# Useful patterns: https://github.com/github/gitignore

#ignore IDE directories
.vscode
.idea

# ignore Clion build dirs
/cmake-build-debug
/cmake-build-release

# ignore likely build dirs
**/[Bb]uild*/

# CMake artefacts
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.cmake
.cache

# Ninja build
.ninja_*
build.ninja

# Rust artifacts
Cargo.lock
libia2/target
include/pkey_init.h
libia2/pkey_init.h

.gdb_history
