name: CI

on:
  push:
    branches:
      - main
      - github-actions*
  pull_request:

jobs:
  test-on-pkru-enabled-host:
    runs-on: self-hosted
    timeout-minutes: 5
    continue-on-error: ${{ matrix.ia2-tracer == 'ON' }}
    strategy:
      fail-fast: true
      matrix:
        build-type: [Release, Debug]
        c_compiler: [clang, gcc]
        linker: [lld, bfd]
        ia2-debug: [IA2_DEBUG=ON, IA2_DEBUG=OFF]
        ia2-tracer: [IA2_TRACER=ON, IA2_TRACER=OFF]
        ia2-verbose: [IA2_VERBOSE=ON]
        ia2-debug-memory: [IA2_DEBUG_MEMORY=ON]
    steps:
      - name: Setup Rust
        # We don't use actions-rust-lang/setup-rust-toolchain because it's slower
        # (~17 s vs. ~70 s) and we need to sequentially run this 32 times.
        run: rustup toolchain install stable --target x86_64-unknown-linux-gnu --profile minimal --no-self-update --allow-downgrade
      - name: Check out code
        uses: actions/checkout@v4
      - name: Init b63 submodule # Can't use checkout@v4 because it unconditionally inits all
        run: git submodule update --init external/b63
      - name: Build
        run: |
          LLVM_DIR=`llvm-config --cmakedir`
          Clang_DIR=`realpath $LLVM_DIR/../clang`
          rm -rf build
          mkdir build
          pushd build
          cmake ..                                                       \
            -DCMAKE_BUILD_TYPE=${{ matrix.build-type }}                  \
            -DCMAKE_C_COMPILER=${{ matrix.c_compiler }}                  \
            -DCMAKE_CXX_COMPILER=clang++                                 \
            -DCMAKE_C_FLAGS="-fuse-ld=${{ matrix.linker }}"              \
            -DClang_DIR=$Clang_DIR                                       \
            -DLLVM_DIR=$LLVM_DIR                                         \
            -DLLVM_EXTERNAL_LIT=/usr/lib/llvm-18/build/utils/lit/lit.py  \
            -D${{ matrix.ia2-debug }}                                    \
            -D${{ matrix.ia2-tracer }}                                   \
            -D${{ matrix.ia2-verbose }}                                  \
            -D${{ matrix.ia2-debug-memory }}                             \
            -G Ninja
          ninja
          popd
      - name: Check
        run: |
          pushd build
          ninja -v check
          popd
  build-nginx:
    runs-on: self-hosted
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Build nginx
        run: |
          LLVM_DIR=`llvm-config --cmakedir`
          Clang_DIR=`realpath $LLVM_DIR/../clang`
          pushd external/nginx
          IA2_CMAKE_FLAGS="
            -DCMAKE_BUILD_TYPE=Release
            -DClang_DIR=$Clang_DIR
            -DLLVM_DIR=$LLVM_DIR" \
            ./reconfigure
          pushd build/nginx
          make
          popd
          popd
  aarch64-wip-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        build-type: [RelWithDebInfo]
        rebuild-glibc: [ON, OFF]
    steps:
      - name: Setup Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          target: aarch64-unknown-linux-gnu
      - name: Install dep packages
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          # `llvm` is for `llvm-objdump`.
          packages: |
            gcc-aarch64-linux-gnu
            g++-aarch64-linux-gnu
            libc6-arm64-cross
            libc6-dev-arm64-cross
            clang-15
            pkg-config
            llvm
            llvm-15-dev
            libclang-15-dev
            zlib1g-dev
            libcapstone-dev
            libglib2.0-dev
          version: 1.0 # version of cache to load
      - name: Install cmake and ninja
        uses: lukka/get-cmake@latest
        with:
          cmakeVersion: "^4.0.2"
      - name: Check out code
        uses: actions/checkout@v4
      - name: Init b63 submodule # Can't use checkout@v4 because it unconditionally inits all
        run: git submodule update --init external/b63
      - name: Cache built QEMU
        id: cache-qemu
        uses: actions/cache@v4
        with:
          path: qemu/build
          key: ${{ runner.os }}-qemu
      - name: Check out QEMU
        if: steps.cache-qemu.outputs.cache-hit != 'true'
        uses: actions/checkout@v4
        with:
          repository: immunant/qemu
          path: ${{ github.workspace }}/qemu
      - name: Build QEMU
        if: steps.cache-qemu.outputs.cache-hit != 'true'
        working-directory: ${{ github.workspace }}/qemu
        run: ./build.sh
