name: CI

on:
  push:
    branches:
      - main
      - github-actions*
  pull_request:
    branches:
      - main

jobs:
  test-on-pkru-enabled-host:
    runs-on: self-hosted
    strategy:
      matrix:
        build-type: [Release, Debug]
        compiler: [clang, gcc]
        linker: [lld, bfd]
        ia2-debug: [ON, OFF]
    steps:
      - name: Check out code
        uses: actions/checkout@v2
      - name: Build
        run: |
          LLVM_DIR=`llvm-config --cmakedir`
          Clang_DIR=`realpath $LLVM_DIR/../clang`
          mkdir build
          pushd build
          cmake ..                                                       \
            -DCMAKE_BUILD_TYPE=${{ matrix.build-type }}                  \
            -DCMAKE_C_COMPILER=${{ matrix.compiler }}                    \
            -DCMAKE_C_FLAGS="-fuse-ld=${{ matrix.linker }}"              \
            -DClang_DIR=$Clang_DIR                                       \
            -DLLVM_DIR=$LLVM_DIR                                         \
            -DLLVM_EXTERNAL_LIT=$HOME/.local/bin/lit                     \
            -DLIBIA2_DEBUG=${{ matrix.ia2-debug }}                       \
            -G Ninja
          ninja
          popd
      - name: Check
        run: |
          pushd build
          ninja -v check-ia2
          popd
  test-insecure-on-ubuntu-focal:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        clang-version: [10, 11, 12, 13, 14, 15]
    steps:
      - name: Provision build environment
        run: |
          sudo apt-get update
          sudo apt install -y libusb-1.0-0-dev \
            ninja-build zlib1g-dev libavformat-dev libavutil-dev pcregrep \
            patchelf
          pip3 install lit
          rustup install nightly
      - name: Install Clang from distro repo
        if: ${{ matrix.clang-version < 13 }}
        run: |
          sudo apt install -y libclang-${{ matrix.clang-version }}-dev
      - name: Install Clang PPA
        if: ${{ matrix.clang-version >= 13 }}
        run: |
          sudo apt install -y wget
          wget -O - https://apt.llvm.org/llvm-snapshot.gpg.key|sudo apt-key add -
          sudo add-apt-repository "deb http://apt.llvm.org/focal/ llvm-toolchain-focal-${{ matrix.clang-version }} main"
          sudo apt install -y clang-${{ matrix.clang-version }} \
            libclang-${{ matrix.clang-version }}-dev
      - name: Check out code
        uses: actions/checkout@v2
      - name: Build
        run: |
          mkdir build
          pushd build
          cmake ..                                                       \
            -DClang_DIR=/usr/lib/cmake/clang-${{ matrix.clang-version }} \
            -DLLVM_DIR=/usr/lib/llvm-${{ matrix.clang-version }}/cmake   \
            -DLLVM_EXTERNAL_LIT=$HOME/.local/bin/lit                     \
            -DLIBIA2_INSECURE=ON                                         \
            -G Ninja
          ninja
          popd
      - name: Check
        run: |
          pushd build
          ninja -v check-ia2
          popd

